---
---
    
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap')

html, body
    margin: 0 0 0 0
    padding: 0 0 0 0
    font-family: Roboto, sans-serif

body
    display: flex
    flex-direction: column
    min-height: 100vh
    min-height: 100svh

header
    background-image: linear-gradient(to right, #fdffcc, #ccffdc, #cdecff, #ffc0c7)

    table
        margin-left: 15pt
        float: left

        td
            vertical-align: middle
            padding-right: 15pt

            h1
                font-family: 'Bebas Neue', sans-serif
                font-weight: normal

                a
                    color: black
                    text-decoration: none

                a:hover
                    text-decoration: underline
                    text-underline-offset: 0.3em

            p
                font-family: 'Bebas Neue', sans-serif
                font-weight: normal

    nav
        margin-top: 22pt
        float: right
        
        ul
            list-style-type: none

            li
                float: left
                padding-right: 10pt

                p
                    font-family: 'Roboto', sans-serif
                    font-weight: normal

    hr
        clear: both
        border-color: rgba(0, 0, 0, 0)
        margin-bottom: 0

main, article
    clear: both

    margin-left: 5%
    margin-right: 5%
    margin-bottom: 15pt
    padding-top: 5pt
    width: 90%

    font-family: Crimson Pro, serif
    font-weight: normal

    h1
        margin-bottom: 0pt
        font-weight: bold

    h2
        font-weight: bold

    h3
        font-weight: bold

    p, li
        line-height: 1.4em

        .date
            margin-top: 5pt
            margin-bottom: 15pt
        
        a
            text-decoration: underline
            text-underline-offset: 0.3em

    a
        color: black
        text-decoration: none

    a:hover
        text-decoration: underline
        text-underline-offset: 0.3em

footer
    clear: both
    margin-top: auto
    padding: 10pt 20pt 10pt 20pt
    background-color: #dfe6e9

    p
        text-align: center

@media screen and (min-width: 1001px)
    header 
        h1
            font-size: 30pt

        p
            font-size: 15pt

        nav ul
            font-size: 14pt

    main
        font-size: 14pt

        h1
            font-size: 25pt

        h2
            font-size: 20pt

        h3
            font-size: 18pt

    footer p
        font-size: 10pt

@media screen and (max-width: 1000px)
    header 
        h1
            font-size: 5vh

        p
            display: none

        nav ul
            font-size: 2.4vh

    main
        font-size: 2.4vh

        h1
            font-size: 5vh

        h2
            font-size: 4vh

        h3
            font-size: 3vh

    footer p
        font-size: 1vh