---
---

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap')

// The color palette is based on the following:
// https://colorhunt.co/palette/f3f4f4853953612d532c2c2c
// https://colorhunt.co/palette/f8f4e1feba1774512d4e1f00
// https://colorhunt.co/palette/5749649f8383c8aaaaffdab3
$background-color: rgb(248, 244, 225)
$highlight-color: rgb(254, 186, 23)
$navigation-color: rgb(159, 131, 131)
$border-color: rgb(97, 45, 83)

html, body
    margin: 0 0 0 0
    padding: 0 0 0 0
    font-family: 'Roboto', sans-serif
    font-size: 12pt
    font-weight: normal
    background-color: $background-color

header
    h1
        margin: 10pt 0 0 100pt
        font-family: 'Story Script', sans-serif
        font-size: 30pt
        color: $border-color
    
    nav
        position: absolute
        top: 0
        left: 0
        width: 100pt

        ul
            margin: 10pt 0 0 0
            padding-left: 10pt
            padding-right: 10pt
            list-style: none

            li
                border: 1pt solid $border-color
                padding: 2pt 2pt 2pt 2pt
                background-color: $navigation-color
            
            li:hover
                background-color: $highlight-color
                cursor: pointer

    a, a:hover, a:visited
        color: $border-color
        text-decoration: none

main, article
    margin-left: 100pt
    width: 30%

    p.date
        color: $navigation-color

    h1
        font-size: 20pt
        font-weight: bold
        color: $border-color
    
    h2
        font-size: 16pt
        font-weight: bold
        color: $border-color

    h3
        font-size: 14pt
        font-weight: bold
        color: $border-color

    a, a:visited
        color: $border-color
        text-decoration: none
    
    a:hover
        color: $highlight-color
        text-decoration: underline

footer
    border-top: 1pt solid $navigation-color
    font-size: 10pt
    color: $navigation-color

    p
        margin-left: 100pt