---
---
    
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap')

html, body
    margin: 0 0 0 0

header
    h1
        float: left
        font-family: 'Crimson Pro', serif
        font-size: 18pt
        font-weight: normal

        margin-top: 10pt
        margin-left: 10pt

        a
            color: black
            text-decoration: none
        a:hover
            text-decoration: underline
    nav
        margin-right: 10pt
        ul
            float: right
            list-style-type: none
            li
                font-family: 'Crimson Pro', serif
                font-size: 14pt
                a
                    color: #333
                    text-decoration: none
                a:hover
                    text-decoration: underline

main, article
    clear: both
    margin-left: 10%
    margin-right: 10%
    padding-top: 20pt

    h1, h2, h3, p, li, blockquote
        font-family: 'Crimson Pro', serif
        width: 80%

        a
            color: #333333
            text-decoration: none
            
        a:hover
            text-decoration: underline
    
    h1
        font-size: 30pt
        font-weight: bold
        margin-bottom: 0

    .date
        margin-top: 5pt
        margin-bottom: 25pt

    p, li, blockquote
        font-size: 14pt
        a
            text-decoration: underline

    li
        padding-left: 10pt
        padding-bottom: 10pt

    .post
        padding-top: 15pt

footer
    margin-left: 10pt
    padding-top: 20pt

    font-family: 'Crimson Pro', serif
    font-size: 10pt

    div.copyright
        width: 100%
        text-align: center