<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>William C. DeMary</title>
    <link rel="stylesheet" href="/css/wcdemary.css">
</head>

<body>
    <header>
        <h1><a href="/">William C. DeMary</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/publications.html">Publications</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
        <h2>Spinoza&rsquo;s <em>Theological-Political Treatise</em> and Adventism</h2>
        <ul>
            <li><a href="{% post_url 2026-05-16-what-authority-do-prophets-have %}"><strong>Part 1:</strong> What Authority Do Prophets Have?</a></li>
            <li><a href="{% post_url 2026-05-17-what-is-the-churchs-vocation %}"><strong>Part 2:</strong> What Is the Church&rsquo;s Vocation?</a></li>
            <li><a href="{% post_url 2026-05-18-is-the-decalogue-a-moral-law %}"><strong>Part 3:</strong> Is the Decalogue a Moral Law?</a></li>
        </ul>
    </main>

    <footer>
        <p>Copyright &copy; 2023&ndash;{{ site.time | date: '%Y' }} William C. DeMary. All rights reserved.</p>
    </footer>
</body>

</html>