<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/wcdemary.css">
</head>

<body>
    <header>
        <h1><a href="/">William C. DeMary</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/publications.html">Publications</a></li>
            </ul>
        </nav>
    </header>

    <article>
        {{ content }}
    </article>

    <footer>
        <p>Copyright &copy; 2023&ndash;{{ site.time | date: '%Y' }} William C. DeMary. All rights reserved.</p>
    </footer>
</body>

</html>