<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/wcdemary.css">
</head>

<body>
    <header>
        <table>
            <tbody>
                <tr>
                    <td><h1><a href="/">William C. DeMary</a></h1></td>
                    <td><p>Thoughts on philosophy, religion, and social issues</p></td>
                </tr>
            </tbody>
        </table>
        <hr>
    </header>
    <article>
        <h1>{{ page.title }}</h1>
        <p class="date"><strong>{{ page.date | date_to_long_string }}</strong></p>
        {{ content }}
    </article>
    <footer>
        <div class="copyright">
            <p>Copyright &copy; 2023&ndash;{{ site.time | date: '%Y' }} William C. DeMary. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>