<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Publications</title>
    <link rel="stylesheet" href="/css/wcdemary.css">
</head>

<body>
    <header>
        <h1><a href="/">William C. DeMary</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/publications.html">Publications</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <ul>
        {% for publication in site.publications reversed %}
            {% if publication.parts.size == 1 %}
                <li>
                    <a href="{{ publication.parts[0].url }}">{{ publication.title | markdownify | remove: "</p>" }}</a><br/>
                    (<em class="journal">{{ publication.journal }}</em>, {{ publication.parts[0].date | date_to_long_string }}</a>)
                </li>
            {% else %}
                {% for part in publication.parts %}
                <li>
                    <a href="{{ part.url }}">{{ publication.title | markdownify | remove: "</p>" }}, Pt. {{ forloop.index }}</a><br/>
                    (<em class="journal">{{ publication.journal }}</em>, {{ part.date | date_to_long_string }}</a>)
                </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
    </main>

    <footer>
        <p>Copyright &copy; 2023&ndash;{{ site.time | date: '%Y' }} William C. DeMary. All rights reserved.</p>
    </footer>
</body>

</html>